extends layout

block content
  h1 Hackathon Starter
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
      h2 R1C1: Connect to Mongo DB in docker swarm
      p Task1: Nodejs express Application connect Mongo DB.
      p Status: Completed 
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 R1C2: Connect to redis in docker swarm 
      p Task2: Nodejs express Application connect to redis.
      p Status: working
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 R1C3: Connect to postgreSql in docker swarm
      p Task3: Nodejs express Applicaton connect to dbms of postgresql.
      p Status: working.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 R1C4: Migration to K8s with dupulicate nodes
      p Task4: Migration.
      p Status: working 
      p
        a.btn.btn-secondary(href='#', role='button') View details »
